/* =========
Body Styling
* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
* bg.png file for background
========= */


body {
	background: url("../img/bg.png");
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: white;
}

/* =========
Blockquote
* color #e44d26
* font size 2em
* font style italic
* letter spacing 1px
* text aligned center
========= */

#blockquote {
	color: #e44d26;
	font-size: 2em;
	font-style: italic;
	letter-spacing: 1px;
	text-align: center;
}

/* =========
Navigation
* List Items - styling provided

Anchor Links
* padding: 10px 10px 10px 40px;
* color on hover #E44D26
* all uppercase letters
* no text underline
========= */
nav li {
	float: left;
	list-style: none;
	margin: 0 10px 0 10px;
}

/* Base link styling */

nav a {
	padding: 10px 10px 10px 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	
}

/* on hover show home.png */
#home a:hover {
	background: url("../img/icons/home.png") no-repeat left center;
  	color: #E44D26;
}

/* on hover show super.png */
#super a:hover {
	background: url("../img/icons/super.png") no-repeat left center;
  	color: #E44D26;
}

/* on hover show html5.png */
#html5 a:hover {
	background: url("../img/icons/html5.png") no-repeat left center;
	color: #E44D26;
}

/* =========
Super Friends
* font-family: 'Open Sans', sans-serif;
* text-indent: 32px;
* line-height: 24px;
* image border: 10px solid #fff;

Super Friend Description
* line-height: 24px;
* text-indent: 32px;
========= */
h3 {
	font-family: 'Open Sans', sans-serif;
}

img + p {
	text-indent: 32px;
	line-height: 24px;	
}

.friends {
	border: 10px solid #fff;

}

/* =========
Footer
* font-family: arial;
* font-size: 10px;
* line-height: 16px;
========= */

footer {
	font-family: arial;
	font-size: 10px;
	line-height: 16px;

}
























































































































































































































































































































































































































































































































































































































































































































































































































































/* a */